<div class="whatsDiv">
	<ul>	
	<li class=""><b>WhatsApp Support</b></li>
	<li><a href="https://wa.me/919711773333" target="_blank"><img alt="watsapp" src="https://havells.com/HavellsProductImages/HavellsIndia/Content/whatsapp_icon.png"> <b>9711773333</b>&nbsp;<img src="https://havells.com/HavellsProductImages/HavellsIndia/Content/external-link.png"></a></li>
	<li style="background-color:#4FCE5D;"><a href="https://www.youtube.com/embed/XQL0eRi3EoA" target="_blank"><b style="color:white;">&nbsp;&nbsp;<u>How to Register with us</u></b></a></li>
	</ul>
</div>

<style>
.mainDiv{width:100%;float:left;}
.width70{width:70%; float:left;}
.whatsDiv{width:30%; float:left;text-align:center;}
.whatsDiv ul{margin:0;padding:0;}
.whatsDiv ul li{padding:5px 0;}
.whatsDiv ul li a{margin:0;}
.whatsDiv ul li:first-child{padding:5px 0;}
.whatsDiv ul li:last-child a{padding:5px;line-height: 30px;}
.whatsDiv ul li:last-child {padding:0px;}
.consumer-panel .whatsDiv ul li:first-child:after{display:none;}
@media (max-width:980px){
.whatsDiv, .width70{width:100%;}
}
</style>

<section class="topHeader">
<div class="container">
    <div class="row mr0">       
      <div class="brandHeader">
        <div class="brandLogo"><a href="/home.html" target="_blank"><img src="https://havells.com/content/dam/havells/logo.png" alt="Havells Logo"></a></div>
      <ul>
        <li><img src="https://havells.com/HavellsProductImages/HavellsIndia/Logos/Explore_our_brands.png" style="width:137px; height:20px;"></li>
          <li><a href="https://www.mylloyd.com/" target="_blank"><img src="https://havells.com/HavellsProductImages/HavellsIndia/Logos/LLOYD-logos.png" alt="Lloyd"></a></li>
          <li><a href="https://standardelectricals.com/" target="_blank"><img src="https://havells.com/HavellsProductImages/HavellsIndia/Logos/Standard-Logos.png" alt="Standard"></a></li>
          <li><a href="http://www.crabtreeindia.com/" target="_blank"><img src="https://havells.com/HavellsProductImages/HavellsIndia/Logos/Crabtree-Logos.png" alt="Crabtree"></a></li>
          <li><a href="https://reo.havells.com/" target="_blank"><img src="https://havells.com/HavellsProductImages/HavellsIndia/Logos/REO-Logos.png" alt="Reo"></a></li>
       </ul>
    </div>
      </div>
 </div>
</section>

<style>
 #header .open .navbar-nav > li > a { padding: 10px 35px 10px 20px !important;}
.topHeader{background:#eee; font-size:13px;color:#fff;font-weight:300;text-align:right;height:48px;line-height:48px;}
.mr0{margin:0;}
.brandHeader{}
.brandLogo{width:200px; float:left;text-align:left;}
.brandLogo img{width:133px;}
.brandHeader ul{margin:0;padding:0;margin-right: 0%;}
.brandHeader ul li{display:inline-block;list-style-type:none;}
.brandHeader ul li:first-child img{width:150px;height:auto;}
.brandHeader ul li:last-child{margin-left:-30px;}
.brandHeader ul li img{width:131px; height:41px;}

@media (max-width:992px) and (min-width:768px){
.brandLogo{float:none;}
#header{border:none !important;}
.brandHeader ul{margin-top:-4px;}
.toggle-btn, #header .btn-search{top:4px;} 
}
  @media (max-width:767px)
{
.brandHeader ul{padding: 0 15px; text-align: left;margin-right: 0;}
.brandHeader ul li:first-child{width:100%;}
.brandHeader ul li{width:50%;float:left;border: 1px solid #f1f1f1; text-align: center;}
.toggle-btn, #header .btn-search{top:4px;}
 #header{border:none !important;}
.brandHeader ul li:last-child{margin-left:inherit;}
.brandHeader ul{margin-left: inherit;float: inherit;}
}
@media (max-width:1200px){
  .brandHeader ul{margin-left: inherit;float: inherit;margin-right:0;}
 }

</style>

<div class="row sidebar-home no-lr-margins">
   <div class="col-md-4">
      <div class="panel panel-default">
         <div class="panel-heading">
            <div class="panel-title"><span >Most popular articles</span></div>
         </div>
         <div class="list-group">
         </div>
      </div>
   </div>
   <div class="col-md-4">
      <div class="panel panel-default">
         <div class="panel-heading">
            <div class="panel-title"><span >Most recent articles</span></div>
         </div>
         <div class="list-group">
         </div>
      </div>
   </div>
   <div class="col-md-4">
      <div class="panel panel-default">
         <div class="panel-heading">
            <div class="panel-title"><span >Top rated articles</span></div>
         </div>
         <div class="list-group">
         </div>
      </div>
   </div>
</div>